<div class="container-fluid p-3 my-3 border border-primary">
  <h1 style="color:white;text-align:center;background-color:blue">Online Compiler</h1></div>
<div class="container-fluid p-3 my-3 border border-primary">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
  <button class="btn btn-primary" type="button" routerLink="/java-compiler">
    JAVA
  </button>
  &nbsp;
  <button class="btn btn-primary" type="button" routerLink="/python-compiler">
    PYTHON
  </button>
  &nbsp;
  <button class="btn btn-primary" type="button" routerLink="/cpp-compiler">
    CPP
  </button>
</div>
<router-outlet></router-outlet>
<!-- routing is done in routing module.ts by routerLink -->