<div class="container">
  <div class="row justify-content-end">
    <button
      class="btn btn-primary btn-actions"
      type="button"
      (click)="execrun()"
    >
      RUN
    </button>
    <button class="btn btn-primary btn-actions" type="button" (click)="clear()">
      CLEAR
    </button>
  </div>
</div>

<div>
  <div
    class="border"
    #editor
    style="width: 800px; height: 400px; margin: 8px;"
  ></div>
</div>
<div>
  <div
    class="border1"
    #editor1
    style="width: 800px; height: 400px; margin: 8px; background-color: #999;"
  ></div>
</div>
